
.bubble {
    background-color: #3064c5;
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 25em;
    height: fit-content;
    min-height: 4em;
    padding: 0.1em;
    border-radius: 0.5em;
    margin: 0 1em;
    position: relative;
    }

.timeinminutes {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7em;
    font-weight: 80;
    position: absolute;
    opacity: 0;
}

.timeinminutes1 {
    bottom: -2.5em;
    left: 0em;
}

.timeinminutes3 {
    bottom: -2.5em;
    left: 0em;
}

.timeinminutes2 {
    bottom: -2.5em;
    right: 0em;
}
.name {
    font-weight: 600;
    font-size: 0.9em;
    margin: 0.5em;
}

.textcomment {
    font-size: 0.7em;
    font-weight: 100;
    margin: 0.5em;
}

img {
    height: 5.5rem;
    width: auto;
    border-radius: 50%;
    border: 2.5px solid rgb(197, 143, 26);
}

#containerone, #containertwo, #containerthree {
    position: relative;
    margin: 2em;
}

#containerone, #containerthree {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#containertwo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

body {
    background-color: rgb(31, 30, 30);
    display: flex;
    flex-direction: column;
    margin: 15vh auto;
}

.triangleleft {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 17px 11px 0;
    border-color: transparent #3064c5 transparent transparent;
    position: absolute;
    left: -13px;
    top: 2em;
}

.triangleright {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 0 11px 17px;
    border-color: transparent transparent transparent #3064c5;
    position: absolute;
    right: -13px;
    top: 2em;
}

.bubble:hover > .timeinminutes {
    transition: all 0.4s ease-in-out;
    transform: translateY(70%);
    opacity: 1;
}